__pycache__/
*.pyc
node_modules/
.venv/
venv/
.vscode/
.idea/
.env
.env.*
# Do NOT commit raw Odoo conf files that may include secrets
odoo_conf/**/odoo.conf

# Local docker volumes/data
pg_community_data/
pg_enterprise_data/
pg_clients_data/
