# onboarding_web/app/requirements.txt
# Author: Adam ChapChap Ng'uni — Created: 2025-08-09
fastapi
uvicorn[standard]

# Templates + env
jinja2
python-dotenv

# Forms
python-multipart

# DB
sqlalchemy
psycopg2-binary

# HTTP client to call Odoo API
httpx

