[options]
db_host = pg_enterprise
db_port = 5432
db_user = odoo
db_password = odoo
admin_passwd = CHANGEME
addons_path = /mnt/enterprise-addons,/mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons
proxy_mode = True
log_level = info
